# Entorno y secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/

# Django
*.log
media/
staticfiles/
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/
.env
.env
google_credentials.json1
google_credentials.json
google_token.json
